.calendar-container {
  display: flex;
  justify-content: space-between;
}


.reservation-form {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  border-color: red;
  height: 50%;
}

.btn-stadium {
  border-radius: 50px;
  width: 100%;
  height: 50px;
  margin-top: 20px;
}

.reservation-form form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.reservation-form label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}





