body {
  margin-top: 82px;
}

.reservation-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reservation-name {
  font-size: 16px;
  padding: 5px 10px;
}

.reservation-time {
  font-size: 16px;
  padding: 5px 10px;
}

.park-name {
  font-size: 16px;
  padding: 5px 10px;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  margin-left: auto;
  cursor: pointer;
  padding: 10px;
}
