/* body {
  background-image: url("https://images.unsplash.com/photo-1547013035-e12451b7aa36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1774&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
} */

.bad-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vw; 
}

.bad-form > * {
  flex-basis: 100%; 
  max-width: 400px;  
}

.bad-form button[type="submit"] {
  margin: 10px; 
  background-color: rgb(108, 148, 177);
}

.park-card {
  border: 2px solid gray;
  background-color: rgb(108, 148, 177);
  color: dark gray;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.park-card .card-header {
  background-color: rgb(108, 148, 177);
  color: dark gray;
  font-size: 2rem;
  padding: 1rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.link-buttonstyle {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  background-color: rgb(108, 148, 177);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.link-buttonstyle:hover {
  background-color: rgb(96, 130, 156);
}