.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(108, 148, 177);
  padding: 20px;
  height: 82px;
}

.navbar a {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
}

.navbar a:last-child {
  margin-right: 0;
}

.navbar a:hover {
  background-color: tan;
  color: white;
}